.Container-page {
  display: flex;
  width: 100vw;
  height: 50vh;
}

.login-container {
  background-color: white;
  display: flex;
  width: 50rem;
  height: 20rem;
  border-radius: 10px;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.login-container form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 10px;
}
.login-container input {
  padding: 10px;
  font-size: 1rem;
}
.login-container button {
  margin-top: 20px;
  width: 100%;
}
