h1 {
  color: #fff;
  font-size: 32px;
}

.orcamento-detail-container {
  display: block;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(42, 42, 146);
  padding: 20px;
  border-radius: 10px;
  max-width: 100%;
  margin-bottom: 10px;
  color: #fff;
}

.orcamento-information {
  border: 1px solid #8b8ae1;
  padding: 10px;
  margin-bottom: 10px;
}

.client-information {
  border: 1px solid #8b8ae1;
  padding: 10px;
  margin-bottom: 10px;
}

.material-information {
  border: 1px solid #8b8ae1;
  padding: 10px;
  margin-bottom: 10px;
}

.service-information {
  border: 1px solid #8b8ae1;
  padding: 10px;
  margin-bottom: 10px;
}
