.app-layout {
  display: flex;
  min-height: 100vh;
}

.app-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  padding: 24px;
}

/* QUALQUER PÁGINA DENTRO DO LAYOUT */
.app-content > * {
  flex: 1;
  min-width: 0;
}

/* MOBILE */
@media (max-width: 768px) {
  .app-layout {
    display: block;
  }
}
