* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #d44444 0%, #2b183d 100%);
}
